{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    帖子详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
{#<div class="container-fluid">#}
    <div class="row">
        <!-- 标题及作者 -->
        <div class="col-12 alert alert-primary" style="border-radius: 5px;">
            <h4>{{ post.title }}</h4>
        </div>

        <div > 作者：{{ post.author }}  | 发布时间：{{ post.created_time|date:"Y-m-d H:i:s" }}
            <a href="{% url "bbs:delete_post" post.id %}"> | 删除该贴</a>
            <a href="{% url "bbs:update_post" post.id %}"> | 编辑该贴</a>
        </div>
        <hr>
        <!-- 文章正文 -->
        <div class="col-12 alert alert-link" style="border:dotted 2px #80bdff;border-radius: 5px;">
            <p style="font-size: 20px">{{ post.content | safe }}</p>
        </div>
        <hr>
    </div>

        <div class="row">
            <form action="{% url 'comment:post_comment' post.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="body">
                        <strong>快来评论一下：</strong>
                    </label>
                    <div>
                        <!--

                    <textarea type="text" class="form-control" id="content" name="content" rows="2"></textarea>
                    -->
                        {{ comment_form.media }}
                        {{ comment_form.content }}
                    </div>
                </div>
                {% if user.is_authenticated %}
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary ">发送</button>
                {% else %}
                    <br>
                    <h5 class="row justify-content-center">
                        请<a href="{% url 'usermanage:login' %}">登录</a>后发表评论
                    </h5>
                    <br>
                {% endif %}
            </form>
        </div>
        <br>



        {% load mptt_tags %}
        <h4>共有{{ comments.count }}条评论</h4>
        <!-- 遍历树形结构 -->
        <div class="row">
            {% recursetree comments %}
        <!-- 给 node 取个别名 comment -->
                {% with comment=node %}
                <div class="{% if comment.replt_to %}
                        offset-1 col-11
                        {% else %}
                        col-12
                        {% endif %}"
                >
                <hr>
                <p>
                    <strong style="color: pink">
                        {{ comment.user }}
                    </strong>

                    {% if comment.replt_to %}
                        <i class="fa fa-arrow-circle-right" style="color: violet"></i>
                        <strong style="color: pink">
                            >> {{ comment.replt_to }}
                        </strong>
                    {% endif %}

                </p>
                <div>{{ comment.content|safe }}</div>

                <div>
                    <span style="color: gray">
                        {{ comment.created_time|date:"Y-m-d H:i" }}
                    </span>

                    <!-- modal 按钮 -->
                    <button type="button"
                            class="btn btn-light btn-sm text-muted"
                            onclick="load_modal({{ post.id }}, {{ comment.id }})"
                    >
                        回复
                    </button>
                </div>

                            <!-- Modal -->
                            <div class="modal fade"
                                 id="comment_{{ comment.id }}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="CommentModalCenter"
                                 aria-hidden="true"
                            >
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content" style="height: 480px">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">回复 {{ comment.user }}：</h5>
                                        </div>
                                        <div class="modal-body" id="modal_body_{{ comment.id }}"></div>
                                    </div>
                                </div>
                            </div>
                            {% if not comment.is_leaf_node %}
                        <div class="children">
                            {{ children }}
                        </div>
                    {% endif %}
                </div>

            {% endwith %}
        {% endrecursetree %}

    </div>
{#</div>#}

{% endblock content %}

{% block script %}
<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>
<script>
    // 加载 modal
    function load_modal(article_id, comment_id) {
        let modal_body = '#modal_body_' + comment_id;
        let modal_id = '#comment_' + comment_id;

        // 加载编辑器
        if ($(modal_body).children().length === 0) {
            let content = '<iframe src="/comment/post-comment/' +
                article_id +
                '/' +
                comment_id +
                '"' +
                ' frameborder="0" style="width: 100%; height: 100%;" id="iframe_' +
                comment_id +
                '"></iframe>';
            $(modal_body).append(content);
        };

        $(modal_id).modal('show');
    }
</script>
{% endblock script %}