<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
</head>
<body>
        <center><h1>Welocme! 这是Leo的留言板</h1></center>

        <center>
            <form action="{{ url_for('index') }}" method="post">
                用户名：<input type="text" name="say_user"><br>
                留言标题：<input type="text" name="say_title"><br>
                留言内容：<input type="text" name="say"><br>
                <button>提交留言</button>
            </form>
        </center>
    <center>
        <table border="2">
            <thead>
            <tr>
                <th>标题</th>
                <th>内容</th>
                <th>用户</th>
                <th>留言时间</th>
            </tr>
            </thead>

            <tbody>
            {%  for say in says %}
                <tr>
                    <th>{{ say['title'] }}</th>
                    <th>{{ say['text'] }}</th>
                    <th>{{ say['user'] }}</th>
                    <th>{{ say['date'] }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>