{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    文章详情
{% endblock %}


{% block content %}
{#<div class="container">#}
    <div class="row">
        <div class="col-12">
        <div class="ad ad_block">
            <div class="ad_block_item item1">
                <div class="col-12">
                    <h3 class="mt-4 mb-4">{{ article.title }}</h3>
                </div>
                <div class="alert alert-success">
                    作者：{{ article.author }}
                    {% if user == article.author %}
                        · <a href="#" onclick="confirm_delete()" >删除文章</a>
                        · <a href="{% url "article:article_update" article.id %}" >编辑文章</a>
                    {% endif %}
                    · <a>浏览：{{ article.total_views }}</a>
                </div>
                <hr>
                <div class="col-12 alert alert-info">
                <p>{{ article.body|safe }}</p>
                </div>
            </div>

        </div>
        <div style="background-color: #66d9ef; float: right; border-radius: 5px">
            <div class="col-12">
                <h3 class="mt-4 mb-4">{{ article.title }}</h3>
            </div>
            <div class="alert alert-success">
                作者：{{ article.author }}
                {% if user == article.author %}
                    · <a href="#" onclick="confirm_delete()" >删除文章</a>
                    · <a href="{% url "article:article_update" article.id %}" >编辑文章</a>
                {% endif %}
                · <a>浏览：{{ article.total_views }}</a>

            </div>
            <hr>
            <div class="col-12 alert alert-info">
            <p>{{ article.body|safe }}</p>
            </div>
        </div>
        <hr>
        {% if user.is_authenticated %}
            <div>
                <form action="{% url 'article_comment:post_comment' article.id %}"
                      method="post">
                    {%  csrf_token %}
                    <div class="form-group">
                        <label for="body">
                            <strong>我也要发言：</strong>
                        </label>
                        <!-- <textarea type="text" class="form-control" id="body" name="body" rows="2"></textarea>-->
                        <div>
                            {{ article_comment_form.media }}
                            {{ article_comment_form.body }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">发送</button>
                </form>
            </div>
            <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">
                请<a href="{% url 'usermanage:login' %}">登陆</a>后回复
            </h5>
            <br>
        {% endif %}

        {% load mptt_tags %}
        <h4>共有{{ comments.count }}条评论</h4>
        <div class="row">
            {% recursetree comments %}
                {% with article_comment=node %}
                    <div class="{% if article_comment.reply_to %}
                                offset-1 col-11
                                {% else %}
                                col-12
                                {% endif %}"
                    >
                        <hr>
                        <p>
                            <strong style="color: pink">
                                {{ article_comment.user }}
                            </strong>

                            <!-- 显示被回复人 -->
                            {% if article_comment.reply_to %}
                                <i class="far fa-arrow-alt-circle-right"
                                   style="color: cornflowerblue;"
                                ></i>
                                <strong style="color: pink">
                                    {{ article_comment.reply_to }}
                                </strong>
                            {% endif %}

                        </p>
                        <div>{{ article_comment.body|safe }}</div>

                        <div>
                            <span style="color: gray">
                                {{ article_comment.created|date:"Y-m-d H:i" }}
                            </span>

                            <!-- 加载 modal 的按钮 -->
                            <button type="button"
                                    class="btn btn-light btn-sm text-muted"
                                    onclick="load_modal({{ article.id }}, {{ article_comment.id }})"
                            >
                                回复
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade"
                             id="comment_{{ article_comment.id }}"
                             tabindex="-1"
                             role="dialog"
                             aria-labelledby="CommentModalCenter"
                             aria-hidden="true"
                        >
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content" style="height: 480px">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">回复 {{ article_comment.user }}：</h5>
                                    </div>
                                    <div class="modal-body" id="modal_body_{{ article_comment.id }}"></div>
                                </div>
                            </div>
                        </div>

                        {% if not article_comment.is_leaf_node %}
                            <div class="children">
                                {{ children }}
                            </div>
                        {% endif %}
                    </div>

                {% endwith %}
            {% endrecursetree %}
        </div>
    </div>
{#</div>#}

<script>
    function confirm_delete() {
        layer.open({
            title:'确认删除',
            content: '确认删除这篇文章？',
            yes: function(index, layero) {
                // 指定应当前往的 url
                location.href='{% url "article:article_delete" article.id %}'
            },
        })
    }
</script>

{% endblock content%}

{% block script %}
<script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 20,
        bottomSpacing: 20,
    });
</script>

<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>

<script>
    function load_modal(article_id, comment_id) {
        let modal_body = '#modal_body_' + comment_id;
        let modal_id = '#comment_' + comment_id;

        if ($(modal_body).children().length === 0) {
            let content = '<iframe src="/article_comment/post-comment/' +
                article_id +
                '/' +
                comment_id +
                '"' +
                ' frameborder="0" style="width: 100%; height: 100%;" id="iframe_' +
                comment_id +
                '"></iframe>';
            $(modal_body).append(content);
        };

        $(modal_id).modal('show');
    }
</script>
{% endblock script %}