<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <!-- 导航栏商标 -->
        <a class="navbar-brand" href="{% url "bbs:post_list" %}"> Leo的小伙伴们</a>
        <!-- 导航入口 -->
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="{% url "bbs:post_list" %}" id="navbardrop" data-toggle="dropdown">
                        BBS
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url "bbs:post_list" %}">BBS</a>
                          <a class="dropdown-item" href="{% url "bbs:write_post" %}">发帖</a>
                      </div>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link " href="{% url "bbs:post_list" %}" >
                        学习资料
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link " href="{% url "blog:blog_home" %}">
                        博客
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link " href="{% url "bbs:post_list" %}">
                        其他
                      </a>
                    </li>
                    <!-- 条目 -->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                        <a class="nav-link" ></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" ></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" >你好啊～</a>
                        </li>
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{ user.username }}
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="{% url "bbs:write_post" %}">BBS发帖</a>
                                <a class="dropdown-item" href="{% url "usermanage:logout" %}">退出登陆</a>
                                </div>

                        </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usermanage:login' %}">登陆</a>
                </li>
                  <!-- 条目 -->
                {% endif %}
      </ul>
    </div>

  </div>
</nav>
