

<div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group">
        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <h4>8543 MIT</h4>
        </li>
        <!-- /END Separator -->
        <!-- Menu with submenu -->
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-light list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">COMP9020</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
        </div>
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-light list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">COMP9021</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu2' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
        </div>
        <a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="bg-light list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">COMP9024</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu3' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
        </div>
        <a href="#submenu4" data-toggle="collapse" aria-expanded="false" class="bg-light list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">COMP9311</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu4' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
        </div>
        <a href="#submenu5" data-toggle="collapse" aria-expanded="false" class="bg-light list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">COMP9331</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu5' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
        </div>
        <a href="#submenu6" data-toggle="collapse" aria-expanded="false" class="bg-light list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">COMP9414</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu6' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">no resource</span>
            </a>
        </div>
        <a href="#submenu7" data-toggle="collapse" aria-expanded="false" class="bg-light list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Profile</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu7' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">Settings</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">Password</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
                <span class="menu-collapsed">Password</span>
            </a>
        </div>
        <a href="#" class="bg-light list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-tasks fa-fw mr-3"></span>
                <span class="menu-collapsed">Tasks</span>
            </div>
        </a>
    </ul><!-- List Group END-->
</div><!-- sidebar-container END -->

